# TURPLE
# Turple is unchangable
# Turple is denoted
# To access value from Turple we use the index location
# NOTE:: Any of the iterable object is not limited to one data type

In [3]:
numbers=(45,87,96,85,93,90,70,71,72,85,45,46,49,42,40,89)
print(len(numbers))

16

In [5]:
print(type(numbers))

<class 'tuple'>

In [6]:
print(numbers[8])#retreiving a value from truple using the forward index location

72

In [7]:
print(numbers[-7])# retreiving a value from turple using the backword index location

85

In [8]:
print(100 in numbers)# using the membership operator to check if a value exist in our  turple

False

In [9]:
print (numbers.count(85))#we use the count function to reterive the frequency of a value

2

In [10]:
print (numbers.index(45))# we use the index function to retreive the  location of a value

0

In [11]:
print(numbers[4:10]) #retreiving range of value from a starting location to the stoping location

(93, 90, 70, 71, 72, 85)

In [12]:
print(numbers[::-1])# retreiving the values in our turple in reversing order

(89, 40, 42, 49, 46, 45, 85, 72, 71, 70, 90, 93, 85, 96, 87, 45)

# LIST
# List is changable
# List is denoted
# To access value from List we use the index location
# NOTE:: Any of the iterable object is not limited to one data type

In [13]:
items=['plate','cup','lemon','cherry']

In [15]:
items.append('Pear')# adding new value to the end of the existing value
print(items)

['plate', 'cup', 'lemon', 'cherry', 'Pear', 'Pear']

In [17]:
items.insert(5,'Pencil')# adding new value to a desired location in the exixting values
print(items)

['plate', 'cup', 'lemon', 'cherry', 'Pear', 'Pencil', 'Pencil', 'Pear']

In [18]:
newitem=['Banana', 'Grape', 'Lemon','Lime','Apple']
items.extend(newitem)# adding new value from another list or turple to the existing list
print(items)

['plate', 'cup', 'lemon', 'cherry', 'Pear', 'Pencil', 'Pencil', 'Pear', 'Banana', 'Grape', 'Lemon', 'Lime', 'Apple']

In [20]:
items.pop(5)# dropping of a value using it's index location
print(items)

['plate', 'cup', 'lemon', 'cherry', 'Pear', 'Pear', 'Banana', 'Grape', 'Lemon', 'Lime', 'Apple']

In [22]:
items.remove('Pear')# dropping of a value by specifying the value itself
print(items)

['plate', 'cup', 'lemon', 'cherry', 'Banana', 'Grape', 'Lemon', 'Lime', 'Apple']

In [24]:
items.sort()# sort will arrange the vallues in ascending order
print(items)

['Apple', 'Banana', 'Grape', 'Lemon', 'Lime', 'cherry', 'cup', 'lemon', 'plate']

In [27]:
items.sort(reverse=True)# sort with reverse will arrange the values in descending order
print(items)

['plate', 'lemon', 'cup', 'cherry', 'Lime', 'Lemon', 'Grape', 'Banana', 'Apple']

In [28]:
items_copy=items.copy()# how to create copy of a list
print(items_copy)

['plate', 'lemon', 'cup', 'cherry', 'Lime', 'Lemon', 'Grape', 'Banana', 'Apple']

In [33]:
items_copy.clear()
print(items_copy)

NameError: name 'items_copy' is not defined

In [32]:
del(items_copy)
print(items_copy)

NameError: name 'items_copy' is not defined

# DICTIONARY
# Turple is changable
# Turple is denoted  with {}
# To access value from Turple we use the key
# NOte:: Any of the iterable object is not limited to one data type

In [35]:
records={'name':'Job Ford', 'Gender':'Male', 'Age':58}
print(records['name'])

Job Ford

In [36]:
print(records.keys())

dict_keys(['name', 'Gender', 'Age'])

In [37]:
print(records.values())

dict_values(['Job Ford', 'Male', 58])

In [39]:
print(records.get('Gender'))

Male

In [40]:
records['Height']=1.90
print(records)

{'name': 'Job Ford', 'Gender': 'Male', 'Age': 58, 'Height': 1.9}

In [41]:
r={'Age': 60}
records.update(r)
print(records)

{'name': 'Job Ford', 'Gender': 'Male', 'Age': 60, 'Height': 1.9}

In [43]:
records.popitem()
print(records)

{'name': 'Job Ford', 'Gender': 'Male'}

In [44]:
student_records={
    '001':['Ade Bando','Male',14,'Jss2A'],
     '002':['Mary Bade','Female',14,'Jss2B'],
     '003':['Bade Pounch','Male',15,'Jss2A'],
}
student_records['002']

['Mary Bade', 'Female', 14, 'Jss2B']

In [47]:
print(student_records['002'][2])

14

# ASSIGNMENT SATURDAY 15/04/2023

In [2]:
turple_assignment=(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
print(len(turple_assignment))

21

In [3]:
print(type(turple_assignment))

<class 'tuple'>

In [4]:
print(turple_assignment[9],turple_assignment[6])

58 49

In [67]:
print(turple_assignment.count(55))

5

In [ ]:
pls ur number: