# for loop

In [1]:
word='python'
for char in word:
    print (char*3)

ppp
yyy
ttt
hhh
ooo
nnn

In [2]:
word='python'
for char in word:
    print (char*3, end='//')

ppp//yyy//ttt//hhh//ooo//nnn//

In [6]:
names=['Ade','Mercy', 'Hope','Favor','Mercy']
for name in names:
    print(f'dear {name}, this is a kind reminder of meeting this evening.')

dear Ade, this is a kind reminder of meeting this evening.
dear Mercy, this is a kind reminder of meeting this evening.
dear Hope, this is a kind reminder of meeting this evening.
dear Favor, this is a kind reminder of meeting this evening.
dear Mercy, this is a kind reminder of meeting this evening.

# In a school, how can you use a for loop to iterate over a list of student and perform a specific action for each student, such as printing out their grades or generate report cars?

In [8]:
student_records={
    '001':{'Name': 'Sam Ford', 'Gender':'Male', 'Age':16, 'English':80, 'Math':78, 'Chemistry':70, 'Biology':68},
    '002':{'Name': 'Mary Njoku', 'Gender':'Female', 'Age':15, 'English':70, 'Math':28, 'Chemistry':90, 'Biology':73},
    '003':{'Name': 'Okoro Hope', 'Gender':'Female', 'Age':17, 'English':50, 'Math':48, 'Chemistry':80, 'Biology':78},
    '004':{'Name': 'Samuel Akpan', 'Gender':'Male', 'Age':16, 'English':85, 'Math':78, 'Chemistry':43, 'Biology':68},
    '005':{'Name': 'Job Goodman', 'Gender':'Male', 'Age':26, 'English':75, 'Math':43, 'Chemistry':70, 'Biology':91},
    
}

for key in student_records:
    print(f'''________STUDENT JAMB RESULT______
    NAME: {student_records[key]['Name']}
    GENDER:{student_records[key]['Gender']}
    AGE:{student_records[key]['Age']}
    ENGLISH:{student_records[key]['English']}
    MATH:{student_records[key]['Math']}
    CHEMISTRY:{student_records[key]['Chemistry']}
    BIOLOGY:{student_records[key]['Biology']}
   
Total Score:{student_records[key]['English'] + student_records[key]['Math'] + student_records[key]['Chemistry'] + student_records[key]['Biology'] }
    ''')

________STUDENT JAMB RESULT______
    NAME: Sam Ford
    GENDER:Male
    AGE:16
    ENGLISH:80
    MATH:78
    CHEMISTRY:70
    BIOLOGY:68

Total Score:296

________STUDENT JAMB RESULT______
    NAME: Mary Njoku
    GENDER:Female
    AGE:15
    ENGLISH:70
    MATH:28
    CHEMISTRY:90
    BIOLOGY:73

Total Score:261

________STUDENT JAMB RESULT______
    NAME: Okoro Hope
    GENDER:Female
    AGE:17
    ENGLISH:50
    MATH:48
    CHEMISTRY:80
    BIOLOGY:78

Total Score:256

________STUDENT JAMB RESULT______
    NAME: Samuel Akpan
    GENDER:Male
    AGE:16
    ENGLISH:85
    MATH:78
    CHEMISTRY:43
    BIOLOGY:68

Total Score:274

________STUDENT JAMB RESULT______
    NAME: Job Goodman
    GENDER:Male
    AGE:26
    ENGLISH:75
    MATH:43
    CHEMISTRY:70
    BIOLOGY:91

Total Score:279

In [16]:
student_records={
    '001':{'Name': 'Sam Ford', 'Gender':'Male', 'Age':16, 'English':80, 'Math':78, 'Chemistry':70, 'Biology':68},
    '002':{'Name': 'Mary Njoku', 'Gender':'Female', 'Age':15, 'English':70, 'Math':28, 'Chemistry':90, 'Biology':73},
    '003':{'Name': 'Okoro Hope', 'Gender':'Female', 'Age':17, 'English':50, 'Math':48, 'Chemistry':80, 'Biology':78},
    '004':{'Name': 'Samuel Akpan', 'Gender':'Male', 'Age':16, 'English':85, 'Math':78, 'Chemistry':43, 'Biology':68},
    '005':{'Name': 'Job Goodman', 'Gender':'Male', 'Age':26, 'English':75, 'Math':43, 'Chemistry':70, 'Biology':91},
    
}
ID= input('ENTER YOUR STUDENT ID:')
for key in student_records:
    if ID == key:
        print(f'''________STUDENT JAMB RESULT______
    NAME: {student_records[key]['Name']}
    GENDER:{student_records[key]['Gender']}
    AGE:{student_records[key]['Age']}
    ENGLISH:{student_records[key]['English']}
    MATH:{student_records[key]['Math']}
    CHEMISTRY:{student_records[key]['Chemistry']}
    BIOLOGY:{student_records[key]['Biology']}
   
Total Score:{student_records[key]['English'] + student_records[key]['Math'] + student_records[key]['Chemistry'] + student_records[key]['Biology'] }
    ''')
        break
else:
    print('Record not found')

ENTER YOUR STUDENT ID:5465
Record not found

# While Loop

# How can a shipping company use a while loop to repeatedly attempt delivery of a package untillits successfully delivered

In [31]:
package =input('ENTER PACKAGE ID:')
Counter=0
delivered = False
while not delivered:
    status=input('Enter Item Status')
    if status=='pending':
        print (f'{package} id still in transit try again....')
    elif status == 'success':
        print(f'{package} id delivered successfully')
        delivered = True
    Counter +=1

ENTER PACKAGE ID:xjkfndasf\]
Enter Item Statuspending
xjkfndasf\] id still in transit try again....
Enter Item Statussuccess
xjkfndasf\] id delivered successfully

In [32]:
print(Counter)

2

In [33]:
num = int(input ('Enter any Number'))
counter=1
while counter <=12:
    print(f'{num} * {counter} = {num * counter}')
    counter +=1

Enter any Number99
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990
99 * 11 = 1089
99 * 12 = 1188

In [34]:
print(counter)

13